package tmpl

import m "github.com/oskarcokl/razlozipokmecko.si/models"

templ ListView(explanations []m.Explanation) {
    @Wrapper("Razlage") {
        for _, e := range explanations {
            <h2><a href={templ.URL("/view/" + e.Name)}>{e.Title}</a></h2>
        }
    }
}