package tmpl

templ ViewPage(name string, title string, body string) {
    @Wrapper(title) {
        <h1>{title}</h1>
        <p>[<a href={templ.URL("/edit/" + name)}>edit</a>]</p>
        <div>{body}</div>
        <p>[<a href={templ.URL("/list-view/")}>nazaj na seznam</a>]</p>
    }
}