package tmpl

templ ViewExplanation(name string, title string, body string) {
    @Wrapper(title) {
        <h1 class="sm:text-3xl text-2xl">{title}</h1>
        <div class="sm:text-xl my-2">
            @templ.Raw(body)
        </div>
        <p class="text-sm italic">[<a href={templ.URL("/list-view/")}>nazaj na seznam</a>] [<a href={templ.URL("/edit/" + name)}>uredi</a>]</p>
    }
}