package tmpl

templ Wrapper(title string) {
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/output.css">
        <title>{title}</title>
    </head>
    <body>
    <header>
        <h1 class="text-3xl font-bold underline">Razlozi po kmecko</h1>
    </header>
    <div>
        {children...}
    </div>
    </body>
    </html>
}
